In [1]:
# https://pydigger.com/pypi/nselib
# https://github.com/RuchiTanmay/nselib

In [2]:
# pip install nselib

Collecting nselib
  Downloading nselib-0.7-py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from nselib) (2.27.1)
Requirement already satisfied: pandas in c:\users\anil_\appdata\roaming\python\python38\site-packages (from nselib) (1.5.3)
Requirement already satisfied: scipy in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from nselib) (1.8.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from pandas->nselib) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from pandas->nselib) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\anil_\appdata\roaming\python\python38\site-packages (from pandas->nselib) (1.20.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from requests->nselib) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from requests->nselib) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from requests->nselib) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from requests->nselib) (3.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\tf-gpu-cuda\lib\site-packages (from python-dateutil>=2.8.1->pandas->nselib) (1.16.0)
Installing collected packages: nselib
Successfully installed nselib-0.7
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from nselib import capital_market

In [2]:
sbi_data = capital_market.price_volume_and_deliverable_position_data(symbol='SBIN', from_date='01-10-2025', 
                                                                     to_date='30-10-2025')

c:\Users\anil_\.conda\envs\fin-ai\lib\site-packages\nselib\capital_market\capital_market_data.py:46: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

In [3]:
sbi_data

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty,"ï»¿""Symbol"""
0,NaN,EQ,01-Oct-2025,872.45,872.30,876.45,862.80,865.15,864.10,866.79,10832384,9.389447e+09,218205,4693297.0,43.33,SBIN
1,NaN,EQ,03-Oct-2025,864.10,865.15,873.00,863.80,867.70,867.30,867.43,8019442,6.956290e+09,154834,3306577.0,41.23,SBIN
2,NaN,T0,03-Oct-2025,864.10,865.00,865.00,865.00,865.00,867.30,865.00,2,1.730000e+03,2,2.0,100.00,SBIN
3,NaN,EQ,06-Oct-2025,867.30,868.00,875.30,862.80,873.80,874.05,868.71,7820352,6.793631e+09,164571,3154409.0,40.34,SBIN
4,NaN,BL,07-Oct-2025,601.30,870.00,870.00,870.00,870.00,870.00,870.00,541065,4.707266e+08,1,NaN,-,SBIN
5,NaN,EQ,07-Oct-2025,874.05,874.15,877.00,863.00,864.15,864.70,868.32,9242580,8.025524e+09,167126,3836557.0,41.51,SBIN
6,NaN,BL,08-Oct-2025,870.00,861.50,861.50,861.50,861.50,861.50,861.50,541064,4.661266e+08,1,NaN,-,SBIN
7,NaN,EQ,08-Oct-2025,864.70,866.80,867.80,857.25,857.30,858.25,860.69,7156112,6.159219e+09,129510,3196676.0,44.67,SBIN
8,NaN,EQ,09-Oct-2025,858.25,861.60,865.80,858.10,861.40,862.10,861.48,7020501,6.048015e+09,121377,2984085.0,42.51,SBIN
9,NaN,EQ,10-Oct-2025,862.10,862.10,883.75,861.30,881.25,880.65,879.53,13713015,1.206103e+10,191535,7296399.0,53.21,SBIN
10,NaN,T0,10-Oct-2025,862.10,871.00,871.00,870.85,870.85,880.65,870.90,3,2.612700e+03,3,3.0,100.00,SBIN
11,NaN,EQ,13-Oct-2025,880.65,879.00,888.10,876.00,884.00,882.95,884.03,11923143,1.054039e+10,198375,6528484.0,54.75,SBIN
12,NaN,T0,13-Oct-2025,880.65,880.65,893.00,880.65,885.00,882.95,886.91,8,7.095300e+03,8,2.0,25.00,SBIN
13,NaN,EQ,14-Oct-2025,882.95,883.00,884.15,872.10,876.00,876.95,876.97,7681973,6.736897e+09,134593,3064779.0,39.90,SBIN
14,NaN,EQ,15-Oct-2025,876.95,878.10,887.50,877.05,886.90,886.10,884.42,8269225,7.313505e+09,246174,4861701.0,58.79,SBIN
15,NaN,T0,15-Oct-2025,876.95,885.00,890.00,885.00,887.00,886.10,887.33,3,2.662000e+03,3,1.0,33.33,SBIN
16,NaN,EQ,16-Oct-2025,886.10,888.30,891.85,882.45,886.20,886.95,887.32,8493686,7.536588e+09,269552,4879105.0,57.44,SBIN
17,NaN,T0,16-Oct-2025,886.10,889.00,890.10,889.00,890.10,886.95,889.55,2,1.779100e+03,2,1.0,50.00,SBIN
18,NaN,EQ,17-Oct-2025,886.95,887.50,894.75,883.00,888.00,889.15,888.75,8511854,7.564950e+09,231474,3838989.0,45.10,SBIN
19,NaN,EQ,20-Oct-2025,889.15,894.60,913.65,891.05,907.00,907.50,905.33,13546463,1.226403e+10,241758,6192509.0,45.71,SBIN
20,NaN,T0,20-Oct-2025,889.15,907.00,907.00,907.00,907.00,907.50,907.00,1,9.070000e+02,1,1.0,100.00,SBIN
21,NaN,EQ,21-Oct-2025,907.50,908.00,910.00,906.40,907.05,907.85,907.99,1783576,1.619477e+09,51138,1097286.0,61.54,SBIN
22,NaN,EQ,23-Oct-2025,907.85,912.00,918.00,904.80,909.10,911.55,913.11,13382769,1.221995e+10,338233,8433759.0,63.02,SBIN
23,NaN,EQ,24-Oct-2025,911.55,910.95,914.10,900.95,904.00,904.50,905.66,5313227,4.811992e+09,173275,2123446.0,39.97,SBIN
24,NaN,EQ,27-Oct-2025,904.50,906.95,928.00,906.00,926.90,922.75,918.09,9150761,8.401263e+09,179901,5428432.0,59.32,SBIN
25,NaN,T0,27-Oct-2025,904.50,910.00,920.00,910.00,920.00,922.75,915.00,2,1.830000e+03,2,NaN,-,SBIN
26,NaN,EQ,28-Oct-2025,922.75,927.10,935.85,917.70,930.50,930.25,927.38,22066289,2.046376e+10,333815,10943585.0,49.59,SBIN
27,NaN,EQ,29-Oct-2025,930.25,933.90,942.05,930.25,939.00,939.75,937.90,12314222,1.154950e+10,238682,6258775.0,50.83,SBIN
28,NaN,EQ,30-Oct-2025,939.75,939.45,944.90,933.05,934.50,934.35,938.89,13044473,1.224727e+10,248310,5713901.0,43.80,SBIN
29,NaN,T0,30-Oct-2025,939.75,931.00,931.00,931.00,931.00,934.35,931.00,1,9.310000e+02,1,1.0,100.00,SBIN

In [9]:
sbi_data = capital_market.price_volume_and_deliverable_position_data(symbol='ADANIENT', period='1M')

In [10]:
sbi_data

      Symbol Series         Date  ... No.ofTrades DeliverableQty %DlyQttoTradedQty
0   ADANIENT     EQ  28-Nov-2023  ...    4,29,582      16,04,861             13.40
1   ADANIENT     EQ  29-Nov-2023  ...    1,76,974      11,02,126             24.16
2   ADANIENT     EQ  30-Nov-2023  ...    1,28,913       8,80,360             29.50
3   ADANIENT     EQ  01-Dec-2023  ...      79,854       5,50,947             30.73
4   ADANIENT     EQ  04-Dec-2023  ...    2,26,984      16,07,748             28.30
5   ADANIENT     EQ  05-Dec-2023  ...    7,53,504      27,93,072             12.21
6   ADANIENT     EQ  06-Dec-2023  ...    7,80,601      31,63,410             16.34
7   ADANIENT     EQ  07-Dec-2023  ...    2,65,235       9,52,711             15.06
8   ADANIENT     EQ  08-Dec-2023  ...    2,89,285      11,64,768             16.74
9   ADANIENT     EQ  11-Dec-2023  ...    2,02,891      11,42,775             22.57
10  ADANIENT     EQ  12-Dec-2023  ...      91,033       2,81,568             13.95
11  ADANIENT     EQ  13-Dec-2023  ...    1,18,936       4,84,558             17.27
12  ADANIENT     EQ  14-Dec-2023  ...    1,40,194       7,67,125             23.79
13  ADANIENT     EQ  15-Dec-2023  ...    1,80,486      14,57,392             29.61
14  ADANIENT     EQ  18-Dec-2023  ...    1,00,133       4,24,758             18.34
15  ADANIENT     EQ  19-Dec-2023  ...      81,742       3,17,638             18.24
16  ADANIENT     EQ  20-Dec-2023  ...    1,71,337       9,51,188             27.83
17  ADANIENT     EQ  21-Dec-2023  ...    1,39,231       4,42,017             16.50
18  ADANIENT     EQ  22-Dec-2023  ...      76,777       3,32,259             21.95

[19 rows x 15 columns]

In [11]:
stocks_traded_on_given_day = capital_market.bhav_copy_with_delivery('22-12-2023')
stocks_traded_on_given_day

          SYMBOL SERIES  OPEN_PRICE  ...  DELIV_QTY  DELIV_PER        DATE1
0     1018GS2026     GS      118.76  ...       4922      99.98  22-Dec-2023
1      20MICRONS     EQ      171.50  ...     295886      26.46  22-Dec-2023
2     21STCENMGM     EQ       32.25  ...       6944     100.00  22-Dec-2023
3         360ONE     EQ      661.00  ...     186447      30.51  22-Dec-2023
4      3IINFOLTD     EQ       44.50  ...     503089      36.24  22-Dec-2023
...          ...    ...         ...  ...        ...        ...          ...
2538        ZOTA     EQ      476.25  ...      19229      55.94  22-Dec-2023
2539       ZUARI     EQ      175.80  ...     605685      34.04  22-Dec-2023
2540    ZUARIIND     EQ      199.00  ...     151236      52.63  22-Dec-2023
2541   ZYDUSLIFE     EQ      675.00  ...     978690      48.27  22-Dec-2023
2542   ZYDUSWELL     EQ     1579.00  ...      13199      54.33  22-Dec-2023

[2543 rows x 13 columns]

In [19]:
stocks_traded_on_given_day[stocks_traded_on_given_day['DELIV_PER'] != '100']

          SYMBOL SERIES  OPEN_PRICE  ...  DELIV_QTY  DELIV_PER        DATE1
0     1018GS2026     GS      118.76  ...       4922      99.98  22-Dec-2023
1      20MICRONS     EQ      171.50  ...     295886      26.46  22-Dec-2023
2     21STCENMGM     EQ       32.25  ...       6944     100.00  22-Dec-2023
3         360ONE     EQ      661.00  ...     186447      30.51  22-Dec-2023
4      3IINFOLTD     EQ       44.50  ...     503089      36.24  22-Dec-2023
...          ...    ...         ...  ...        ...        ...          ...
2538        ZOTA     EQ      476.25  ...      19229      55.94  22-Dec-2023
2539       ZUARI     EQ      175.80  ...     605685      34.04  22-Dec-2023
2540    ZUARIIND     EQ      199.00  ...     151236      52.63  22-Dec-2023
2541   ZYDUSLIFE     EQ      675.00  ...     978690      48.27  22-Dec-2023
2542   ZYDUSWELL     EQ     1579.00  ...      13199      54.33  22-Dec-2023

[2543 rows x 13 columns]

In [4]:
capital_market.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
2195,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
2196,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
2197,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
2198,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
2199,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,2

In [5]:
capital_market.fno_equity_list()

                         underlying      symbol  serialNumber
0               360 ONE WAM LIMITED      360ONE             1
1                 ABB India Limited         ABB             2
2          APL Apollo Tubes Limited   APLAPOLLO             3
3     AU Small Finance Bank Limited      AUBANK             4
4    Adani Energy Solutions Limited  ADANIENSOL             5
..                              ...         ...           ...
204           Vodafone Idea Limited        IDEA           205
205                  Voltas Limited      VOLTAS           206
206                   Wipro Limited       WIPRO           207
207                Yes Bank Limited     YESBANK           208
208      Zydus Lifesciences Limited   ZYDUSLIFE           209

[209 rows x 3 columns]

In [23]:
capital_market.index_data(index='NIFTY 50', period='1M')

     TIMESTAMP INDEX_NAME  OPEN_INDEX_VAL  ...  LOW_INDEX_VAL  TRADED_QTY  TURN_OVER
0   28-11-2023   NIFTY 50        19844.65  ...       19800.00   229595031   23043.25
1   28-11-2023   NIFTY 50        19844.65  ...       19800.00   229595031   23043.25
2   29-11-2023   NIFTY 50        19976.55  ...       19956.30   236241768   22367.64
3   30-11-2023   NIFTY 50        20108.50  ...       20015.85   486585349   48877.95
4   01-12-2023   NIFTY 50        20194.10  ...       20183.70   265812566   22461.53
5   04-12-2023   NIFTY 50        20601.95  ...       20507.75   381107418   33917.52
6   05-12-2023   NIFTY 50        20808.90  ...       20711.15   421008350   41763.52
7   06-12-2023   NIFTY 50        20950.75  ...       20852.15   359212958   35654.76
8   07-12-2023   NIFTY 50        20932.40  ...       20850.80   274985308   24862.43
9   08-12-2023   NIFTY 50        20934.10  ...       20862.70   292440768   27449.96
10  11-12-2023   NIFTY 50        20965.30  ...       20923.70   212921451   21150.17
11  12-12-2023   NIFTY 50        21018.55  ...       20867.15   244867128   25404.64
12  13-12-2023   NIFTY 50        20929.75  ...       20769.50   260269318   25918.44
13  14-12-2023   NIFTY 50        21110.40  ...       21074.45   334410589   32593.42
14  15-12-2023   NIFTY 50        21287.45  ...       21235.30   508761756   50114.46
15  18-12-2023   NIFTY 50        21434.80  ...       21365.35   249668965   23615.28
16  19-12-2023   NIFTY 50        21477.65  ...       21337.75   249750062   23750.61
17  20-12-2023   NIFTY 50        21543.50  ...       21087.35   363886229   30993.12
18  21-12-2023   NIFTY 50        21033.95  ...       20976.80   277548079   26001.02
19  21-12-2023   NIFTY 50        21033.95  ...       20976.80   277548079   26001.02
20  22-12-2023   NIFTY 50        21295.85  ...       21232.45   284708918   27709.29

[21 rows x 8 columns]

In [24]:
capital_market.index_data(index='NIFTY BANK', period='1M')

     TIMESTAMP  INDEX_NAME  OPEN_INDEX_VAL  ...  LOW_INDEX_VAL  TRADED_QTY  TURN_OVER
0   28-11-2023  NIFTY BANK        43851.55  ...       43739.80   151249387    7047.12
1   29-11-2023  NIFTY BANK        44081.75  ...       44003.45   152338716    7734.64
2   30-11-2023  NIFTY BANK        44711.20  ...       44254.60   343168253   21570.23
3   01-12-2023  NIFTY BANK        44580.15  ...       44531.75   204927587    8180.31
4   04-12-2023  NIFTY BANK        45671.50  ...       45484.20   311170393   14550.11
5   05-12-2023  NIFTY BANK        46895.90  ...       46653.65   326064098   15573.44
6   06-12-2023  NIFTY BANK        47256.75  ...       46750.20   244245159   10666.48
7   07-12-2023  NIFTY BANK        46735.40  ...       46507.15   208148115    6747.85
8   08-12-2023  NIFTY BANK        46797.20  ...       46793.90   218254038    9180.03
9   11-12-2023  NIFTY BANK        47233.30  ...       47186.60   182500023    7276.41
10  12-12-2023  NIFTY BANK        47421.70  ...       47004.05   181986087    8796.84
11  13-12-2023  NIFTY BANK        47190.75  ...       46886.90   202304718    8905.84
12  14-12-2023  NIFTY BANK        47567.65  ...       47510.85   193093079    9839.45
13  15-12-2023  NIFTY BANK        47939.90  ...       47632.85   313865426   20163.08
14  18-12-2023  NIFTY BANK        48068.50  ...       47806.70   157255424    6762.40
15  19-12-2023  NIFTY BANK        47940.40  ...       47646.05   189789200    7801.73
16  20-12-2023  NIFTY BANK        48085.35  ...       47202.65   242487993   10779.73
17  21-12-2023  NIFTY BANK        47172.45  ...       46919.70   207998676   10008.37
18  22-12-2023  NIFTY BANK        47837.75  ...       47415.85   165824495   10615.92

[19 rows x 8 columns]

In [25]:
capital_market.market_watch_all_indices()

                     key  ... oneYearAgo
0   BROAD MARKET INDICES  ...   17806.80
1   BROAD MARKET INDICES  ...   40753.80
2   BROAD MARKET INDICES  ...   17888.05
3   BROAD MARKET INDICES  ...    9332.90
4   BROAD MARKET INDICES  ...   15046.00
..                   ...  ...        ...
66  FIXED INCOME INDICES  ...     865.07
67  FIXED INCOME INDICES  ...    2541.57
68  FIXED INCOME INDICES  ...    2540.34
69  FIXED INCOME INDICES  ...    2783.01
70  FIXED INCOME INDICES  ...    2409.73

[71 rows x 24 columns]

In [27]:
capital_market.short_selling_data(period='1M')

           Date  ...  Quantity
0   22-Nov-2023  ...     1,400
1   22-Nov-2023  ...       175
2   22-Nov-2023  ...     7,700
3   24-Nov-2023  ...    24,850
4   24-Nov-2023  ...    23,500
5   28-Nov-2023  ...     4,550
6   11-Dec-2023  ...     2,000
7   12-Dec-2023  ...    10,000
8   12-Dec-2023  ...     9,100
9   12-Dec-2023  ...    31,500
10  13-Dec-2023  ...     2,800
11  13-Dec-2023  ...    55,300
12  13-Dec-2023  ...    32,200
13  14-Dec-2023  ...  6,46,800
14  15-Dec-2023  ...  2,48,600
15  15-Dec-2023  ...  1,13,050

[16 rows x 4 columns]

In [28]:
capital_market.india_vix_data(period='1M')

      TIMESTAMP INDEX_NAME  ...  VIX_PTS_CHG  VIX_PERC_CHG
0   28-NOV-2023  INDIA VIX  ...       0.8450      7.458076
1   29-NOV-2023  INDIA VIX  ...       0.5325      4.373717
2   30-NOV-2023  INDIA VIX  ...      -0.0175     -0.137714
3   01-DEC-2023  INDIA VIX  ...      -0.3075     -2.423168
4   04-DEC-2023  INDIA VIX  ...       0.6100      4.926307
5   05-DEC-2023  INDIA VIX  ...       0.4650      3.578988
6   06-DEC-2023  INDIA VIX  ...       0.2825      2.099201
7   07-DEC-2023  INDIA VIX  ...      -1.0675     -7.769287
8   08-DEC-2023  INDIA VIX  ...      -0.2025     -1.597948
9   11-DEC-2023  INDIA VIX  ...       0.2875      2.305533
10  12-DEC-2023  INDIA VIX  ...      -0.0450     -0.352734
11  13-DEC-2023  INDIA VIX  ...      -0.6475     -5.093412
12  14-DEC-2023  INDIA VIX  ...       0.2550      2.113552
13  15-DEC-2023  INDIA VIX  ...       0.8075      6.554383
14  18-DEC-2023  INDIA VIX  ...       0.7725      5.884593
15  19-DEC-2023  INDIA VIX  ...      -0.0325     -0.233813
16  20-DEC-2023  INDIA VIX  ...       0.5825      4.200469
17  21-DEC-2023  INDIA VIX  ...      -0.6925     -4.792388
18  22-DEC-2023  INDIA VIX  ...      -0.0500     -0.363438

[19 rows x 9 columns]

In [6]:
from nselib import derivatives

In [30]:
data = derivatives.future_price_volume_data(symbol='ADANIENT', instrument='FUTSTK', period='1M')

In [31]:
data

      TIMESTAMP INSTRUMENT    SYMBOL  ... CHANGE_IN_OI MARKET_LOT UNDERLYING_VALUE
0   22-Dec-2023     FUTSTK  ADANIENT  ...   1494300.00        300          2808.35
1   22-Dec-2023     FUTSTK  ADANIENT  ...  -1556100.00        300          2808.35
2   22-Dec-2023     FUTSTK  ADANIENT  ...      9000.00        300          2808.35
3   21-Dec-2023     FUTSTK  ADANIENT  ...    488400.00        300          2799.75
4   21-Dec-2023     FUTSTK  ADANIENT  ...   -429300.00        300          2799.75
5   21-Dec-2023     FUTSTK  ADANIENT  ...      1200.00        300          2799.75
6   20-Dec-2023     FUTSTK  ADANIENT  ...    336900.00        300          2783.85
7   20-Dec-2023     FUTSTK  ADANIENT  ...   -485700.00        300          2783.85
8   20-Dec-2023     FUTSTK  ADANIENT  ...     22500.00        300          2783.85
9   19-Dec-2023     FUTSTK  ADANIENT  ...    154800.00        300          2941.25
10  19-Dec-2023     FUTSTK  ADANIENT  ...   -268200.00        300          2941.25
11  19-Dec-2023     FUTSTK  ADANIENT  ...      4500.00        300          2941.25
12  18-Dec-2023     FUTSTK  ADANIENT  ...    159900.00        300          2980.60
13  18-Dec-2023     FUTSTK  ADANIENT  ...   -114900.00        300          2980.60
14  18-Dec-2023     FUTSTK  ADANIENT  ...      4800.00        300          2980.60
15  15-Dec-2023     FUTSTK  ADANIENT  ...     82200.00        300          2991.80
16  15-Dec-2023     FUTSTK  ADANIENT  ...   -151800.00        300          2991.80
17  15-Dec-2023     FUTSTK  ADANIENT  ...     -3000.00        300          2991.80
18  14-Dec-2023     FUTSTK  ADANIENT  ...     30300.00        300          2894.05
19  14-Dec-2023     FUTSTK  ADANIENT  ...   -207900.00        300          2894.05
20  14-Dec-2023     FUTSTK  ADANIENT  ...       900.00        300          2894.05
21  13-Dec-2023     FUTSTK  ADANIENT  ...     24900.00        300          2875.05
22  13-Dec-2023     FUTSTK  ADANIENT  ...     39000.00        300          2875.05
23  13-Dec-2023     FUTSTK  ADANIENT  ...     -6300.00        300          2875.05
24  12-Dec-2023     FUTSTK  ADANIENT  ...     31500.00        300          2857.65
25  12-Dec-2023     FUTSTK  ADANIENT  ...    -39600.00        300          2857.65
26  12-Dec-2023     FUTSTK  ADANIENT  ...       600.00        300          2857.65
27  11-Dec-2023     FUTSTK  ADANIENT  ...     40500.00        300          2855.80
28  11-Dec-2023     FUTSTK  ADANIENT  ...    423300.00        300          2855.80
29  11-Dec-2023     FUTSTK  ADANIENT  ...       600.00        300          2855.80
30  08-Dec-2023     FUTSTK  ADANIENT  ...     82500.00        300          2822.15
31  08-Dec-2023     FUTSTK  ADANIENT  ...    284100.00        300          2822.15
32  08-Dec-2023     FUTSTK  ADANIENT  ...      3600.00        300          2822.15
33  07-Dec-2023     FUTSTK  ADANIENT  ...     27000.00        300          2887.15
34  07-Dec-2023     FUTSTK  ADANIENT  ...    201600.00        300          2887.15
35  07-Dec-2023     FUTSTK  ADANIENT  ...      2700.00        300          2887.15
36  06-Dec-2023     FUTSTK  ADANIENT  ...     81900.00        300          2883.95
37  06-Dec-2023     FUTSTK  ADANIENT  ...   -502800.00        300          2883.95
38  06-Dec-2023     FUTSTK  ADANIENT  ...      8100.00        300          2883.95
39  05-Dec-2023     FUTSTK  ADANIENT  ...     86700.00        300          2959.35
40  05-Dec-2023     FUTSTK  ADANIENT  ...    131700.00        300          2959.35
41  05-Dec-2023     FUTSTK  ADANIENT  ...     24000.00        300          2959.35
42  04-Dec-2023     FUTSTK  ADANIENT  ...     15300.00        300          2531.20
43  04-Dec-2023     FUTSTK  ADANIENT  ...   -237600.00        300          2531.20
44  04-Dec-2023     FUTSTK  ADANIENT  ...      7500.00        300          2531.20
45  01-Dec-2023     FUTSTK  ADANIENT  ...     27600.00        300          2362.70
46  01-Dec-2023     FUTSTK  ADANIENT  ...     68100.00        300          2362.70
47  01-Dec-2023     FUTSTK  ADANIENT  ...       600.00        300          2362.70
48  30-Nov-2023     FUTSTK  ADANIENT  ...     95400.00        300          2358.55
49  30-Nov-2023     FUTSTK  ADANIENT  ...   3279000.00        300          2358.55
50  30-Nov-2023     FUTSTK  ADANIENT  ...  -2499900.00        300          2358.55
51  29-Nov-2023     FUTSTK  ADANIENT  ...     22200.00        300          2396.60
52  29-Nov-2023     FUTSTK  ADANIENT  ...   2647200.00        300          2396.60
53  29-Nov-2023     FUTSTK  ADANIENT  ...  -2852100.00        300          2396.60
54  28-Nov-2023     FUTSTK  ADANIENT  ...     22200.00        300          2423.50
55  28-Nov-2023     FUTSTK  ADANIENT  ...   2749500.00        300          2423.50
56  28-Nov-2023     FUTSTK  ADANIENT  ...  -1570800.00        300          2423.50

[57 rows x 20 columns]

In [35]:
derivatives.option_price_volume_data(symbol='ADANIENT', instrument='OPTSTK', option_type='PE', period='1M')

        TIMESTAMP INSTRUMENT  ... MARKET_LOT UNDERLYING_VALUE
0     22-Dec-2023     OPTSTK  ...        300          2808.35
1     22-Dec-2023     OPTSTK  ...        300          2808.35
2     22-Dec-2023     OPTSTK  ...        300          2808.35
3     22-Dec-2023     OPTSTK  ...        300          2808.35
4     22-Dec-2023     OPTSTK  ...        300          2808.35
...           ...        ...  ...        ...              ...
1822  28-Nov-2023     OPTSTK  ...        300          2423.50
1823  28-Nov-2023     OPTSTK  ...        300          2423.50
1824  28-Nov-2023     OPTSTK  ...        300          2423.50
1825  28-Nov-2023     OPTSTK  ...        300          2423.50
1826  28-Nov-2023     OPTSTK  ...        300          2423.50

[1827 rows x 20 columns]

In [36]:
derivatives.fno_bhav_copy(trade_date='22-12-2023')

      INSTRUMENT     SYMBOL    EXPIRY_DT  ...  OPEN_INT CHG_IN_OI    TIMESTAMP
0         FUTIDX  BANKNIFTY  28-Dec-2023  ...   1410225   -294075  22-DEC-2023
1         FUTIDX  BANKNIFTY  25-Jan-2024  ...    833655    139320  22-DEC-2023
2         FUTIDX  BANKNIFTY  29-Feb-2024  ...     99210     -1800  22-DEC-2023
3         FUTIDX   FINNIFTY  26-Dec-2023  ...     64560      4040  22-DEC-2023
4         FUTIDX   FINNIFTY  30-Jan-2024  ...     13560      4640  22-DEC-2023
...          ...        ...          ...  ...       ...       ...          ...
61774     OPTSTK  ZYDUSLIFE  29-Feb-2024  ...         0         0  22-DEC-2023
61775     OPTSTK  ZYDUSLIFE  29-Feb-2024  ...         0         0  22-DEC-2023
61776     OPTSTK  ZYDUSLIFE  29-Feb-2024  ...         0         0  22-DEC-2023
61777     OPTSTK  ZYDUSLIFE  29-Feb-2024  ...         0         0  22-DEC-2023
61778     OPTSTK  ZYDUSLIFE  29-Feb-2024  ...         0         0  22-DEC-2023

[61779 rows x 15 columns]

In [37]:
derivatives.participant_wise_open_interest(trade_date='22-12-2023')

  Client Type  Future Index Long  ...  Total Long Contracts  Total Short Contracts
0      Client             163337  ...              12342259               11020525
1         DII              87955  ...                299362                2209631
2         FII             179023  ...               4211979                3218988
3         Pro              33490  ...               4162613                4567070

[4 rows x 15 columns]

In [38]:
derivatives.participant_wise_trading_volume(trade_date='22-12-2023')

  Client Type  Future Index Long  ...  Total Long Contracts  Total Short Contracts
0      Client             261525  ...              99013788               99220614
1         DII               7285  ...                281886                 309192
2         FII              88183  ...              21049423               20849030
3         Pro             166340  ...             174102997              174069258

[4 rows x 15 columns]

In [41]:
derivatives.expiry_dates_future()

['28-Dec-2023', '25-Jan-2024', '29-Feb-2024']

In [42]:
derivatives.expiry_dates_option_index()

{'NIFTY': ['28-Dec-2023',
  '04-Jan-2024',
  '11-Jan-2024',
  '18-Jan-2024',
  '25-Jan-2024',
  '01-Feb-2024',
  '29-Feb-2024',
  '28-Mar-2024',
  '27-Jun-2024',
  '26-Sep-2024',
  '26-Dec-2024',
  '26-Jun-2025',
  '24-Dec-2025',
  '25-Jun-2026',
  '31-Dec-2026',
  '24-Jun-2027',
  '30-Dec-2027',
  '29-Jun-2028'],
 'FINNIFTY': ['26-Dec-2023',
  '02-Jan-2024',
  '09-Jan-2024',
  '16-Jan-2024',
  '23-Jan-2024',
  '30-Jan-2024',
  '27-Feb-2024'],
 'BANKNIFTY': ['28-Dec-2023',
  '03-Jan-2024',
  '10-Jan-2024',
  '17-Jan-2024',
  '25-Jan-2024',
  '31-Jan-2024',
  '29-Feb-2024',
  '28-Mar-2024',
  '27-Jun-2024',
  '26-Sep-2024']}

In [44]:
derivatives.nse_live_option_chain(symbol='ADANIENT', expiry_date='28-12-2023', oi_mode='full')

              Fetch_Time    Symbol  ... PUTS_Chng_in_OI PUTS_OI
0   22-Dec-2023 15:30:00  ADANIENT  ...               4     197
1   22-Dec-2023 15:30:00  ADANIENT  ...              -3     311
2   22-Dec-2023 15:30:00  ADANIENT  ...               0      23
3   22-Dec-2023 15:30:00  ADANIENT  ...              -9     423
4   22-Dec-2023 15:30:00  ADANIENT  ...               0      54
5   22-Dec-2023 15:30:00  ADANIENT  ...             -61     362
6   22-Dec-2023 15:30:00  ADANIENT  ...             -10      32
7   22-Dec-2023 15:30:00  ADANIENT  ...              -8     366
8   22-Dec-2023 15:30:00  ADANIENT  ...              -6     118
9   22-Dec-2023 15:30:00  ADANIENT  ...             -23     696
10  22-Dec-2023 15:30:00  ADANIENT  ...               0     612
11  22-Dec-2023 15:30:00  ADANIENT  ...            -158     739
12  22-Dec-2023 15:30:00  ADANIENT  ...              -7     227
13  22-Dec-2023 15:30:00  ADANIENT  ...             -14     928
14  22-Dec-2023 15:30:00  ADANIENT  ...             -19     281
15  22-Dec-2023 15:30:00  ADANIENT  ...            -169    1192
16  22-Dec-2023 15:30:00  ADANIENT  ...              39     358
17  22-Dec-2023 15:30:00  ADANIENT  ...            -223    1381
18  22-Dec-2023 15:30:00  ADANIENT  ...             -81     442
19  22-Dec-2023 15:30:00  ADANIENT  ...             -51    1720
20  22-Dec-2023 15:30:00  ADANIENT  ...              61     710
21  22-Dec-2023 15:30:00  ADANIENT  ...              46    1881
22  22-Dec-2023 15:30:00  ADANIENT  ...             -11     586
23  22-Dec-2023 15:30:00  ADANIENT  ...            -134    1702
24  22-Dec-2023 15:30:00  ADANIENT  ...             -93     505
25  22-Dec-2023 15:30:00  ADANIENT  ...            -109    1813
26  22-Dec-2023 15:30:00  ADANIENT  ...             -16     223
27  22-Dec-2023 15:30:00  ADANIENT  ...             -30     259
28  22-Dec-2023 15:30:00  ADANIENT  ...              -1      64
29  22-Dec-2023 15:30:00  ADANIENT  ...             -16     162
30  22-Dec-2023 15:30:00  ADANIENT  ...               0      41
31  22-Dec-2023 15:30:00  ADANIENT  ...               0     181
32  22-Dec-2023 15:30:00  ADANIENT  ...              10     169
33  22-Dec-2023 15:30:00  ADANIENT  ...               0       0
34  22-Dec-2023 15:30:00  ADANIENT  ...               0       0
35  22-Dec-2023 15:30:00  ADANIENT  ...               0       2
36  22-Dec-2023 15:30:00  ADANIENT  ...               0       0

[37 rows x 24 columns]

In [8]:
derivatives.fii_derivatives_statistics(trade_date='22-12-2023')

FileNotFoundError:  FII derivatives statistics not found for : 22-Dec-2023 :: NSE error : Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [47]:
# pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 KB 2.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.